.container .left {
    background-color: #ffffff;
    background-image: url(assets/auth/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}